<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.github.suzumura-ss.NicoChanWatcher.plist</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/ruby</string>
    <string>/usr/local/bin/NicoChanWatcher</string>
  </array>
  <key>WorkingDirectory</key><string>/</string>
  <key>StartInterval</key><integer>1800</integer>
  <key>RunAtLoad</key><true/>
  <!--
    <key>StandardOutPath</key><string>/dev/null</string> 
    <key>StandardErrorPath</key><string>/dev/null</string>
  -->
</dict>
</plist>
